<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ site.title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Markdown style -->
    <link rel="stylesheet" href="{{ "/assets/css/github-markdown.css" | relative_url }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
    <!-- Import syntax highlighting -->
    <link rel="stylesheet" href="{{ "/assets/css/native.css" | relative_url }}">
    <!-- Import icon font -->
    <link rel="stylesheet" href="{{ "/assets/css/fontello.css" | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div id="header-top">
          <a href="{{ "/" | absolute_url }}">
            {% if site.logo %}
            <div id="logo">
              <img src="{{site.logo | relative_url}}" width="50" alt="Logo">
            </div>
            {% endif %}
            <div id="title">
              <h1>{{ site.title | default: site.github.repository_name }}</h1>
              <small>{{ site.description | default: site.github.project_tagline }}</small>
            </div>
          </a>
        </div>
        <div id="navigation">
          {% if site.navigation.size > 0 %}
            {% for item in site.navigation %}
            <span class="navigation-item">
              <a href="{{ item.url | relative_url }}">
                {{ item.name | escape }}
              </a>
            </span>
            {% endfor %}
          {% endif %}
        </div>
      </header>
      <section class="markdown-body">
        {{ content }}
      </section>
      <footer>
        {% if site.github.is_project_page or site.github.is_user_page %}
        <p>
          This site is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.
        </p>
        {% endif %}
        {% if site.github.repository_url %}
        <p>
          Hosted on <a href="{{ site.github.repository_url }}">GitHub Pages</a>.
        </p>
        {% endif %}
        {% if site.footer %}
        {{ site.footer | markdownify }}
        {% endif %}
      </footer>
    </div>
  </body>
</html>