---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1>{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  {% if paginator.posts.size > 0 %}
    <h2>{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {% for post in paginator.posts %}
      <li class="post-list-item">
        <div class="post-list-meta"><small>{{ post.date | date_to_string }}</small></div>
        <a class="post-list-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </li>
      {% endfor %}
    </ul>
  {% endif %}
  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    <div class="pagination-arrow">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}"><i class="icon-angle-left"></i></a>
      {% endif %}
    </div>
    <div class="pagination-page">Page {{ paginator.page }} of {{ paginator.total_pages }}</div>
    <div class="pagination-arrow">
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next"><i class="icon-angle-right"></i></a>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>