---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
<small class="post-info">by {{ page.author | default: site.author }}, {{ page.date | date: "%-d %B %Y" }}</small>

<div class="post-content">
  {{content}}
</div>

{% if page.tags.size > 0 %}
  <small class="post-tags">tags: <em>{{ page.tags | join: "</em>, <em>" }}</em></small>
{% endif %}

<a href='{{site.url}}/'>back to home</a>

<div class="post-comments">
  <h3>Comments</h3>
  <p>
    Please don't enter any personal information. All comments are public! You can edit or delete your comment within 15 minutes of submitting it.
  </p>
  <script data-isso="https://isso.exo.pm/"
          data-isso-reply-to-self="true"
          data-isso-max-comments-top="10"
          src="https://isso.exo.pm/js/embed.min.js">
  </script>
  <div id="isso-thread"></div>
  <noscript>
    In order to see the comments, you need to enable JavaScript in your browser.
    This website is hosted on GitHub Pages, so I can't serve the comments dynamically.
    The comments are using a self-hosted [Isso](https://posativ.org/isso/) instance,
    so there's no tracking or anything involved here. 👍
  </noscript>
</div>

<style>
  #isso-thread .input-wrapper {
    font-size: 12px;
    margin-right: 2px;
  }
  #isso-thread .textarea:focus {
    color: black;
  }
  #isso-thread > h4 {
    color: #C9CACC;
  }
  #isso-thread input[name="email"], #isso-thread input[name="website"], #isso-thread input[name="preview"] {
    display: none;
  }
  #isso-thread input[type="submit"] {
    font-size: 12px;
  }
</style>
